* {
    color: inherit;
  }

  .header {
    min-height: 850px;
    height: auto;
    box-sizing: border-box;
    color: #000;
    background-image: none;
    background-color: #fff;
  }

  .pricing_table h2,
  .pricing_table p {
    text-align: center;
  }

  .pricing_table .card .price span,
  .pricing_table .card .price strike {
    font-size: 19px;
    color: #2a3e81;
  }

  .pricing_table .card .price h2 {
    font-size: 50px;
    color: #92181f;
  }

  .pricing_table .card .card-header h4 {
    text-align: center;
    min-height: 55px;
  }

  .pricing_table .card .card-body {
    text-align: center;
  }

  .pricing_table .table img {
    max-width: 150px;
  }

  .pricing_table .table th {
    vertical-align: middle;
    text-align: center;
  }

  .price_card span.label {
    position: absolute;
    background: #283c7c;
    color: #fff;
    padding: 2px 10px;
    border-radius: 3px;
  }

  .price_card .card-header {
    padding-top: 25px;
  }

  .table tbody td {
    font-weight: 500;
    font-size: 16px;
    color: #000000e0;
    text-align: center;
    max-width: 20%;
    height: 100px;
    vertical-align: middle;
  }

  .table tbody td i,
  .table tbody td svg {
    font-size: 21px;
  }

  .pricing_table {
    padding: 4rem 0;
  }

  .card.price_card {
    width: 240px;
  }

  @media screen and (max-width: 768px) {
    .table-striped tbody {
      display: none;
    }

    .pricing_table .table img {
      display: none;
    }

    .pricing_table .table th {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .card.price_card {
      width: 100%;
    }

    .ready_to_call {
      display: flex;
    }

    .nav-items {
      gap: 10px;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 10px;
    }
  }

  @media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
      max-width: 1320px;
    }
  }

  .goto_logo {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: start;
  }

  .btn-two {
    color: #ffffff !important;
    box-shadow: 0 10px 30px 0px rgb(0 0 0 / 10%);
    cursor: pointer;
    background-color: #293d80;
    border: 2px solid #293d80;
    position: relative;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    font-size: 14px !important;
    line-height: 25px;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    text-align: center;
    padding: 7px 20px;
    text-transform: capitalize;
    border-radius: 5px;
    z-index: 1;
    transition: all 500ms ease;
  }

  .btn-two::before {
    background-color: #92181f;
    position: absolute;
    content: "";
    width: 0%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: -1;
    transition: all 500ms ease;
  }

  .btn-two:hover:before {
    width: 100%;
  }

  .my_buttons {
    text-align: center;
  }

  .my_buttons button {
    margin: 5px 5px;
  }

  .list-box {
    padding: 10px;
  }

  .btn_check {
    border: 3px solid #8f1f24;
    border-radius: 10px;

  }

  label.btn.btn-default {
    width: 100%;
    margin: 0;
  }

  .btn_check input {
    display: none;
  }

  .btn_check i {
    width: 14px;
    text-align: left;
  }

  .btn_check input:checked+label {
    color: #ffffff !important;
    background-color: #294086;
    border-color: #8f1f24;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    border-radius: 7px;
  }

  .btn_check input:checked+label i:before {
    content: "ï†";
    color: #fff;
  }

  .check_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .check_flex .check_name {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;
    font-size: 17px;
    font-weight: 600;
  }

  .tab-content label {
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 18px;
  }

  .selectize-input.items input {
    width: 100% !important;
    padding: 10px;
    border: 3px solid #97161e;
    border-radius: 7px;
  }

  .updates_check {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    gap: 10px;
  }

  .header .nav_wrapper .myLinks {
    padding: 17px 30px 17px 0;
    background: #fff;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 7% 100%);
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .header .nav_wrapper .myLinks a {
    color: #000;
    font-size: 17px;
    font-weight: 500;
    margin: 0 15px;
    text-decoration: none;
  }

  .next-step {
    background-color: #0e214b;
    color: #fff;
  }

  .price_brekdown {
    display: flex;
    gap: 5px;
    font-size: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
    max-width: 750px;
    margin: 10px auto;

  }

  .price_brekdown #total-payable-price {
    font: 19px;
    font-weight: 600;
  }

  section.refund-policy {
    margin: 50px 0px;
  }



  .wizard .nav-tabs {
    position: relative;
    margin-bottom: 0;
    border-bottom-color: transparent;
  }

  .wizard>div.wizard-inner {
    position: relative;
    margin-bottom: 50px;
    text-align: center;
  }

  .connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 83%;
    margin: 0 auto;
    left: 50px;
    right: 0;
    top: 15px;
    z-index: 1;
  }

  .wizard .nav-tabs>li.active>a,
  .wizard .nav-tabs>li.active>a:hover,
  .wizard .nav-tabs>li.active>a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
  }

  span.round-tab {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 16px;
    color: #0e214b;
    font-weight: 500;
    border: 1px solid #ddd;
  }

  span.round-tab i {
    color: #555555;
  }

  .wizard li.active span.round-tab {
    background: #0e214b;
    color: #fff;
    border-color: #0e214b;
  }

  .wizard li.active span.round-tab i {
    color: #5bc0de;
  }

  .wizard .nav-tabs>li.active>a i {
    color: #0e214b;
  }

  .wizard .nav-tabs>li {
    width: 16.666%;
  }

  .wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: red;
    transition: 0.1s ease-in-out;
  }



  .wizard .nav-tabs>li a {
    width: 30px;
    height: 30px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
    background-color: transparent;
    position: relative;
    top: 0;
  }

  .wizard .nav-tabs>li a i {
    position: absolute;
    top: -15px;
    font-style: normal;
    font-weight: 400;
    white-space: nowrap;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
  }

  .wizard .nav-tabs>li a:hover {
    background: transparent;
  }

  .wizard .tab-pane {
    position: relative;
    padding-top: 20px;
  }


  .wizard h3 {
    margin-top: 0;
  }

  .prev-step,
  .next-step {
    font-size: 13px;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    margin-top: 30px;
  }

  .next-step-style {
    font-size: 13px;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    margin-top: 30px;
    background-color: #0e214b;
    color: #fff;
  }

  .error {
    color: red;
  }

  .package,
  .price {
    box-shadow: none !important;
  }

  form#payment-form {
    max-width: 500px;
    border-radius: 10px;
    margin: 20px auto;
    box-shadow: 2px 2px 2px 2px #000;
  }

  .payment-title h1 {
    text-align: center;
  }

  .ui.form .field {
    box-shadow: 2px 2px 2px 2px #0000001c;
    padding: 7px;
    border-radius: 5px;
  }

  form#payment-form .payment_card_header {
    text-align: center;
    margin: 10px 0px;
  }